<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overlay spammer - {% block title %} {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="scroll-smooth bg-gray-950">
    <nav class="flex flex-row items-center bg-gray-800 border-b border-gray-700 text-white py-2 px-8 justify-center">
        <a 
        class="py-2 px-4 hover:bg-gray-700 rounded-md transition-colors duration-200"
        href="/">
        Home

        </a>
        <a 
        class="py-2 px-4 hover:bg-gray-700 rounded-md transition-colors duration-200"
        href="/overlaying">
        Overlay
        </a>

         <a 
        class="py-2 px-4 hover:bg-gray-700 rounded-md transition-colors duration-200 gap-2 flex flex-row items-center"
        href="https://github.com/some-du6e/overlayshit">

        <span>
            GitHub
        </span>
        </a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>